body{


background:Black;

font-family:Arial;

color:violet;

}



.dashboard{


width:80%;

margin:auto;

margin-top:50px;


}



.card{


background:#1e293b;

padding:20px;

margin:20px;

border-radius:10px;


}



button{


padding:12px;

margin:8px;

cursor:pointer;

background:#38bdf8;

border:none;

border-radius:5px;


}



#log{


background:black;

padding:15px;

min-height:50px;


}
